$background-color: #2b343e;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$header-height: 60px;
$border-radius: 6px;
$spacing-primary: 16px;
$spacing-mobile: 8px;
$font-size-small: 12px;
$font-size-default: 14px;
$font-color-secondary: salmon;