.app {
  color: ghostwhite;
  background-color: #282c34;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('../../wallpaper.jpeg');
  background-size: cover;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:hover { 
  color: inherit;
  text-decoration: none;
}

input {
  &:focus { outline: none }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.reactLogo {
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.reactSpinner {
  display: inline-block;
  border-radius: 50%;
  border: 10px solid #00d8ff;
  animation-name:rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.reactSpinner, .reactSpinner:before, .reactSpinner:after {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 70px;
  border-radius: 50%;
  border: 10px solid #00d8ff;
}

.reactNucleus, .reactSpinner, .reactSpinner:before, .reactSpinner:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reactNucleus {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background:#00d8ff;
}

.reactSpinner:before, .reactSpinner:after {
  content: "";
}

.reactSpinner:after {
  transform: rotate(-57deg);
}

.reactSpinner:before {
  transform: rotate(57deg);
}

@keyframes rotate {
  100% {
    transform: rotate(1800deg);
  }
}

@media only screen and (max-width: 767px) {
  .app {
    padding-bottom: 10px;
  }
}