.app {
  height: 100vh;
  color: ghostwhite;
  background-color: #282c34;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../../assets/background.jpeg");
  background-size: cover;
  background-position: center center;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

input {
  &:focus {
    outline: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .app {
    padding-bottom: 10px;
  }
}
