@use "./variables" as *;

.buySellContainer,
.positionContainer {
  text-align: center;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: $spacing-primary;
  margin-top: $spacing-primary;
}

.buySellTab {
  padding: $spacing-primary;
  flex: 1;
  border-bottom: 1px solid darkturquoise;
  cursor: pointer;

  &.notActive {
    color: gray;
    border-bottom: none;
  }
}

.quantityInput {
  padding: $spacing-primary;
  background-color: transparent;
  text-align: center;
  color: ghostwhite;
  border: none;
  border-bottom: 1px solid ghostwhite;
}

.positionRow {
  padding: $spacing-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.positionColumn {
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .watchlistButton {
    text-align: center;
  }
}
