@use "./variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  background-color: $background-color;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
}

.rocketLogo {
  height: 30px;
  width: 30px;
  color: darkturquoise;
}

.headerLink {
  padding: 0 $spacing-primary;
  color: $font-color-secondary;
}

.searchInput {
  font-size: $font-size-small;
  border-radius: $border-radius;
  background-color: ghostwhite;
  padding: 4px;

  &.error {
    border: 1px solid red;
  }
}

.searchSymbol {
  cursor: pointer;
  color: silver;
}

@media only screen and (max-width: 767px) {
  .rocketLogo {
    height: 16px;
    width: 16px;
  }

  .headerLink {
    padding: 0 $spacing-mobile;
    font-size: $font-size-small;
  }

  .searchInput {
    font-size: 10px;
    border-radius: $border-radius;
    background-color: ghostwhite;
    padding: 6px;
    width: 88px;
  }
}
