@use "./variables" as *;

.header {
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: $background-color;
  border-bottom: 1px solid silver;
  box-sizing: border-box;
}

.rocketLogo {
  height: 32px;
  width: 80px;
  color: darkturquoise;
}

.headerLink {
  padding: 0 $spacing-primary;
  color: $font-color-secondary;
}

.searchInput {
  position: absolute;
  right: 36px;
  height: 26px;
  width: 134px;
  font-size: $font-size-small;
  border-radius: $border-radius;
  padding: 10px;
  background-color: ghostwhite;
}

.searchSymbol {
  position: absolute;
  right: 12px;
  top: 22px;
  cursor: pointer;
  &:hover {
    color: silver;
  }
}

@media only screen and (max-width: 767px) {
  .rocketLogo {
    width: 50px;
  }
}
