.rocketSymbol {
  font-size: 50px;
  text-align: center;
  padding: 10px;
  color: darkturquoise;
}

.loginForm {
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
}

.loginError {
  color: red;
  text-align: center;
  padding: 20px;
}
