@use "./variables" as *;

.home {
  display: flex;
  flex-direction: row;
  gap: $spacing-primary;
  height: calc(100% - $header-height);
  padding: $spacing-primary;
  font-size: $font-size-default;
}

@media only screen and (max-width: 767px) {
  .home {
    flex-direction: column;
    height: auto;
  }
}
