@use "./variables" as *;

.home {
  display: flex;
  flex-direction: row;
  gap: $spacing-primary;
  height: calc(100% - $header-height);
  padding: $spacing-primary;
  font-size: $font-size-default;
}
