@use "./variables" as *;

.market {
  display: flex;
  flex-direction: column;
  gap: $spacing-primary;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  padding: $spacing-primary;
}

.stockRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: $spacing-primary;
  font-size: $font-size-small;
  cursor: pointer;

  &.stockTableTop {
    font-size: $font-size-default;
    font-weight: bold;
    cursor: default;
  }
}

.stockColumn {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .market {
    width: auto;
  }
}
