@use "./variables" as *;

.balance {
  font-weight: bold;
  font-size: 30px;
  padding: $spacing-primary;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: $spacing-primary;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  height: 100%;
  padding: $spacing-primary;
  overflow-y: auto;
  scrollbar-width: none;
}

.positionRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: $font-size-small;
  cursor: pointer;

  &.positionTableTop {
    font-size: $font-size-default;
    font-weight: bold;
    cursor: default;
  }
}

.positionColumn {
  text-align: center;
  width: 100%;
}

.portfolio-empty {
  text-align: center;
  padding: 40px;
}

@media only screen and (max-width: 767px) {
  .positionColumnHide {
    display: none;
  }

  .portfolio {
    width: auto;
  }
}
