.watchlist {
  background-color: #2b343e;
  position: absolute;
  right: 0;
  top: 60px;
  width: 160px;
  margin: 15px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 20px;
  min-height: calc(100% - 80px);
}

.watchlistHeader {
  text-align: center;
  padding: 32px;
}

.watchlistRow {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  display: flex;
  cursor: pointer;

  &:hover {
    color: salmon;
  }
}

.watchlistRowSection {
  flex: 1;
}

@media only screen and (max-width: 767px) {
  .watchlist {
    position: revert;
    width: revert;
    margin: 15px 0;
  }
}
