#watchlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  width: 160px;
  background-color: #2b343e;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 16px;
  overflow-y: auto;
  scrollbar-width: none;
}

.watchlistHeader {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.watchlistRow {
  font-size: 12px;
  text-align: center;
  display: flex;
  cursor: pointer;

  &:hover {
    color: salmon;
  }
}

.watchlistRowSection {
  flex: 1;
}

@media only screen and (max-width: 767px) {
  #watchlist {
    position: revert;
    width: revert;
    margin: 15px 0;
  }
}
