@use "./variables" as *;

.watchlist {
  display: flex;
  flex-direction: column;
  gap: $spacing-primary;
  height: 100%;
  width: 160px;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: $spacing-primary;
  overflow-y: auto;
  scrollbar-width: none;
}

.watchlistRow {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-small;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $font-color-secondary;
  }
}

@media only screen and (max-width: 767px) {
  .watchlist {
    position: revert;
    width: revert;
    margin: 15px 0;
  }
}
