.buySellContainer, .positionContainer {
    width: calc(100% - 210px);
    text-align: center;
    background-color: #2b343e;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0 0 20px;
    padding: 10px;
}

.buySellTabContainer {
    display: flex;
}

.buySellTab {
    padding: 10px;
    flex: 1;
    border-bottom: 1px solid darkturquoise;
    cursor: pointer;

    &.notActive { 
        color: gray;
        border-bottom: none;
    }
}

.quantityInput {
    margin: 40px 0 0;
    background-color: transparent;
    text-align: center;
    color: ghostwhite;
    border: none;
    border-bottom: 1px solid ghostwhite;
    padding: 10px;
}

.positionRow {
    width: calc(100% - 170px);
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.positionColumn {
    width: 100%;
    text-align: center;
}