.header {
    height: 60px;
    background-color: #282c34;
    display: flex;
    align-items: center;
    border-bottom: 1px solid silver;
    box-sizing: border-box;
}

.rocketSymbol {
    height: 32px;
    width: 80px;
    color: darkturquoise;
}

.headerLink {
    padding: 0 10px;
    font-size: 14px;
    color: salmon;
}

.searchInput {
    position: absolute;
    right: 36px;
    height: 26px;
    width: 134px;
    font-size: 12px;
    border-radius: 6px;
    padding: 10px;
    background-color: silver;
    &:focus { outline: none }
}

.searchSymbol {
    position: absolute;
    right: 12px;
    top: 22px;
    cursor: pointer;
    &:hover { color: silver }
}