.rocketSymbol {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.loginTitle {
    text-align: center;
    padding: 30px;
}

.loginForm {
    width: 300px;
    margin: 0 auto;
}

.loginError {
    color: red;
    text-align: center;
    padding: 20px;
}