.watchlist {
    background-color: #2b343e;
    position: absolute;
    right: 0;
    top: 60px;
    width: 20%;
    margin: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}